@using perfumedecant.Models.Repository
@{
    Layout = "~/Views/Shared/_DashboardHandySample.cshtml";
    Rep_HandySample rep_handySample = new Rep_HandySample();
    var samples = rep_handySample.Get_All_HandySamples();
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger" style="text-align:right">
                <a class="close" style="cursor: pointer;" onclick="$('.alert').hide()">×</a>
                @ViewBag.Error
            </div>
        }

        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success" style="text-align:right">
                <a class="close" style="cursor: pointer;" onclick="$('.alert').hide()">×</a>
                @ViewBag.Error
            </div>
        }


        <button onclick="location.href='@Url.Action("AddHandySample", "HandySample")';return false;" type="submit" class="btn add-btn">افزودن</button>

        <table id="perfumes" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>تصویر</th>
                    <th>نام</th>
                    <th>حجم کل</th>
                    <th>قیمت هر میل(تومان)</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (samples.Count() > 0)
                    {

                        foreach (var s in samples)
                        {
                            <tr>
                                <td>
                                    <div class="product-img">
                                        <img src="~/Uploads/PerfumeImages/@s.Tbl_Perfume.Perfume_ImageIndex" alt="@s.Tbl_Perfume.Perfume_Name" class="img-size-50">
                                    </div>
                                </td>
                                <td>@s.Tbl_Perfume.Perfume_Name</td>
                                <td>@s.HandySample_AllWeight</td>
                                <td>@s.HandySample_PricePerMil</td>
                                <td> @Html.ActionLink(" ", "EditHandySample", new { sampleID = s.HandySample_ID }, new { data_toggle = "tooltip", title = "ویرایش", @class = "fas fa-edit" })</td>
                                <td>@Html.ActionLink(" ", "DeleteHandySample", new { sampleID = s.HandySample_ID }, new { data_toggle = "tooltip", title = "حذف", @class = "fa fa-trash", onclick = "return confirm('آیا از حذف این سمپل مطمئن هستید؟');" })</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" style="color:red;font-size:14px">هیچ داده ای برای نمایش موجود نمی باشد.</td>
                        </tr>
                    }
                }
            </tbody>

        </table>

    </div><!--/. container-fluid -->
</section>
<!-- /.content -->
