@model perfumedecant.Models.PerfumeModel
@using perfumedecant.Models.Repository;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")"> صفحه اصلی </a>
                </li>
                <li class="active">  لیست محصولات  @ViewBag.title </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="tab-filter-wrap mb-60 pt-40" >

        <div class="filter-active">
            <a href="#"> فیلتر <i class="fa fa-plus"></i></a>
        </div>
    </div>
    @Html.Partial("Filter_Section")
    @Html.Partial("PerfumeList_Section", Model)
    <div>
        <div id="filterResult" style="display:none; padding-bottom:30px;">
            <div class="row" id="filterResultRow">

            </div>
        </div>
        <div id="NoResult" style="display:none; padding-bottom:30px;">
            محصولی یافت نشد!
        </div>
    </div>
    @Html.Partial("Modal_Section")
</div>
