@{

    string username = (string)Session["UserName"];
}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>پرفیوم دکانت </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
    <!-- google font -->
    <link href="~/Content/CSS/fonts.css" rel="stylesheet" />
    <!-- Icon Font CSS -->
    <link href="~/Content/CSS/icons.min.css" rel="stylesheet" />
    <!-- Plugins CSS -->
    <link href="~/Content/CSS/plugins.css" rel="stylesheet" />
    <!-- Main Style CSS -->
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <!-- Modernizer JS -->
    <script src="~/Content/Scripts/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <header class="header-area header-padding-1 sticky-bar header-res-padding clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="index.html">
                            <img alt="" src="~/Content/Images/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="/Home/Index">صفحه اصلی </a></li>
                                <li><a href="@Url.Action("Perfumes", "Perfume", new { type = "handySample" })">دکانت و سمپل دست ریز</a></li>
                                <li><a href="@Url.Action("Perfumes", "Perfume", new { type = "companySample" })">سمپل های شرکتی </a></li>
                                <li><a href="@Url.Action("Index", "Brands" , new { type = " " })">برندها و تمام محصولات </a></li>
                                <li><a href="/Article">مقالات </a></li>
                                <li><a href="/FAQ">سوالات متداول</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                    <div class="header-right-wrap">
                        <div class="same-style header-search">
                            <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                            <div class="search-content">
                                <form action="#">
                                    <button class="button-search"><i class="pe-7s-search"></i></button>
                                    <input type="text" placeholder="جست و جو" />
                                </form>
                            </div>
                        </div>
                        <div class="same-style account-satting">
                            <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                            <div class="account-dropdown">
                                <ul>
                                    @if (username == null)
                                    {
                                        <li><a href="/Account">ورود/ثبت‌نام</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Account/SignOut">خروج</a></li>
                                    }

                                    <li><a href="my-account.html">ویرایش مشخصات</a></li>
                                </ul>
                            </div>
                        </div>
                        @if (username != null)
                        {
                            <div class="same-style cart-wrap">
                                <button class="icon-cart">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="count-style">02</span>
                                </button>
                                <div class="shopping-cart-content">
                                    <ul>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="~/Uploads/PerfumeImages/cart-1.png"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Product </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="~/Uploads/PerfumeImages/cart-1.png"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Product </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-total">
                                        <h4>تخفیف : <span>$20.00</span></h4>
                                        <h4>مجموع : <span class="shop-total">$260.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-btn btn-hover text-center">
                                        <a class="default-btn" href="cart-page.html">مشاهده سبد خرید</a>
                                        <a class="default-btn" href="checkout.html">پرداخت</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li class="active"><a href="/Home/Index">صفحه اصلی </a></li>
                            <li><a href="@Url.Action("Perfumes", "Perfume", new { type = "handySample" })">دکانت و سمپل دست ریز</a></li>
                            <li><a href="@Url.Action("Perfumes", "Perfume", new { type = "companySample" })">سمپل های شرکتی </a></li>
                            <li><a href="@Url.Action("Index", "Brands" , new { type = " " })">برندها و تمام محصولات </a></li>
                            <li><a href="/Article/Index">مقالات </a></li>
                            <li><a href="/CommonQuestions/Index/">سوالات متداول</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer-area bg-gray pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-5">
                    <div class="copyright mb-30">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img alt="" src="~/Content/Images/logo/logo1.png">
                            </a>
                        </div>
                        <p> کلیه حقوق این سایت متعلق به <a href="#">پرفیوم دکانت </a> می باشد.</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-5">
                    <div class="footer-widget mb-30 ml-30">
                        <div class="footer-title">
                            <h3>درباره ی ما</h3>
                        </div>
                        <div class="footer-list">
                            <ul>

                                <li>
                                    <p>دفتر فروش: زنجان، الهیه، خیابان نیایش، پلاک 166   </p>
                                </li>
                                <li>
                                    <p>تلفن: 09128774252</p>
                                </li>
                                <li>
                                    <p>ایمیل:infoperfumedecant@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-5">
                    <div class="footer-widget mb-30 ml-50">
                        <div class="footer-title">
                            <h3>لینک های مفید</h3>
                        </div>
                        <div class="footer-list">
                            <ul>
                                <li><a href="@Url.Action("Perfumes", "Perfume", new { type = "handySample" })">دکانت و سمپل دست ریز</a></li>
                                <li><a href="@Url.Action("Perfumes", "Perfume", new { type = "companySample" })">سمپل های شرکتی </a></li>
                                <li><a href="@Url.Action("Index", "Brands" , new { type = " " })">برندها و تمام محصولات </a></li>
                                <li><a href="/Article/Index">مقالات </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-9 col-sm-9">
                    <div class="footer-widget mb-30 ml-75">
                        <div class="footer-title">
                            <h3>ما را دنبال کنید</h3>
                        </div>
                        <div class="footer-list">
                            <ul>
                                <li><a href="https://t.me/perfumedecant"><i class="fab fa-telegram"></i>      Telegram </a></li>
                                <li><a href="https://www.instagram.com/perfumedecantir"><i class="fa fa-instagram"></i>        Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                گروه پرفیوم دکانت با هفت سال سابقه در زمینه واردات و فروش ادکلن. زین پس مفتخر است به صورت مستقیم و بدون واسطه در زمینه فروش ادکلن و دست ریز در خدمت شما مشتریان عزیز باشد.
                ضمانت دایمی اصل بودن کالا دریافت کارت هدیه و شرکت دایمی در قرعه کشی مهم ترین خدمات ما به شما مشتریان گرانقدر میباشد
            </p>
        </div>
    </footer>

    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="~/Content/Scripts/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Content/Scripts/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/Content/Scripts/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="~/Content/Scripts/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="~/Content/Scripts/main.js"></script>
    @RenderSection("edit_profile", required: false)
</body>

</html>

