@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using perfumedecant.Models.Domains;
@using perfumedecant.Models.Repository;
@model perfumedecant.Models.Domains.Tbl_Perfume

@{
    PD_DB db = new PD_DB();
    Rep_Perfume rep_perfume = new Rep_Perfume();
    Rep_Season rep_season = new Rep_Season();
    var newWomen = rep_perfume.Get_NewPerfume("زنانه");
    var newUniSex = rep_perfume.Get_NewPerfume("یونیسکس");
    var newMen = rep_perfume.Get_NewPerfume("مردانه");
    var newSeason = rep_season.Get_SeasonPerfumes();
    var allNewPerfume = rep_perfume.Get_NewPerfume();
    int newCount = newWomen.Count() + newMen.Count() + newSeason.Count() + newUniSex.Count();
    Rep_PerfumeImages rep_images = new Rep_PerfumeImages();
}
<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img" style="background-image:url(/Content/Images/slider/A.png);">
        </div>
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img" style="background-image:url(/Content/Images/slider/B.png);">
        </div>
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img" style="background-image:url(/Content/Images/slider/C.png);">
        </div>
        <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img" style="background-image:url(/Content/Images/slider/D.png);">
        </div>
    </div>
</div>
<div class="suppoer-area pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="Content/Images/icon-img/support-1.png" alt="">
                        <h5>ارسال رایگان</h5>
                        <p>برای خریدهای بالای 500 هزار تومان ارسال رایگان است.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 mb-30 support-shape text-center">
                    <div class="support-content-2">
                        <img class="animated" src="Content/Images/icon-img/support-3.png" alt="">
                        <h5>تضمین دائمی اصالت کالا</h5>
                        <p> گروه پرفیوم دکانت اصالت کالای خریداری شده را به صورت دائمی تضمین می کند و اگر کالا غیر اصل باشد می توانید کالا را پس فرستاده و تمام وجه پرداخت شده را با کمال احترام دریافت کنید </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 mb-30 support-shape text-center">
                    <div class="support-content-2">
                        <img class="animated" src="Content/Images/icon-img/support-2.png" alt="">
                        <h5>پشتیبانی شبانه روزی</h5>
                        <p>ما مفتخریم که در تمام طول هفته و  تمام طول روز پاسخگوی نیاز مشتریان عزیز هستیم.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-60">
    <div class="container">
        <div class="tab-filter-wrap mb-60">
            <div class="product-tab-list nav">

                <a class="active" href="#product-1" data-toggle="tab">
                    <h4>جدیدترین زنانه </h4>
                </a>
                <a href="#product-2" data-toggle="tab">
                    <h4>جدیدترین مردانه </h4>
                </a>
                <a href="#product-3" data-toggle="tab">
                    <h4> جدیدترین یونیسکس </h4>
                </a>
                <a href="#product-4" data-toggle="tab">
                    <h4> عطر مناسب فصل </h4>
                </a>

            </div>
            <div class="filter-active">
                <a href="#"> فیلتر <i class="fa fa-plus"></i></a>
            </div>
        </div>

        @Html.Partial("Filter_Section")

        <div class="tab-content jump" id="product-tabs">
            <div class="tab-pane active" id="product-1">
                <div class="row">
                    @if (newWomen.Count() > 0)
                    {
                        foreach (var women in newWomen)
                        {
                            <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                                <div class="product-wrap-2 mb-25 scroll-zoom">
                                    <div class="product-img">
                                        <a href="/Perfume/Perfume_Details?PerfumeID=@women.Perfume_ID">
                                            <img class="default-img" src="~/Uploads/PerfumeImages/@women.Perfume_ImageIndex" alt="">
                                            <img class="hover-img" src="~/Uploads/PerfumeImages/@women.Perfume_ImageIndex" alt="">
                                        </a>
                                        <div class="product-action-2">
                                            <a title="Add To Cart" href="#"  onclick="showModal(@women.Perfume_ID,'../../Uploads/PerfumeImages/')"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" class="Quick_View" href="#" data-toggle="modal" onclick="showModal(@women.Perfume_ID,'../../Uploads/PerfumeImages/')"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-2">
                                        <div class="title-price-wrap-2">
                                            <h3><a href="/Perfume/Perfume_Details?PerfumeID=@women.Perfume_ID">@women.Perfume_Name</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane" id="product-2">
                <div class="row">
                    @if (newMen.Count() > 0)
                    {
                        foreach (var men in newMen)
                        {

                            <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                                <div class="product-wrap-2 mb-25 scroll-zoom">
                                    <div class="product-img">
                                        <a href="/Perfume/Perfume_Details?PerfumeID=@men.Perfume_ID">
                                            <img class="default-img" src="~/Uploads/PerfumeImages/@men.Perfume_ImageIndex" alt="">
                                            <img class="hover-img" src="~/Uploads/PerfumeImages/@men.Perfume_ImageIndex" alt="">
                                        </a>

                                        <div class="product-action-2">
                                            <a title="Add To Cart" href="#"  onclick="showModal(@men.Perfume_ID,'../../Uploads/PerfumeImages/')"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" class="Quick_View" href="#" data-toggle="modal" onclick="showModal(@men.Perfume_ID,'../../Uploads/PerfumeImages/')"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-2">
                                        <div class="title-price-wrap-2">
                                            <h3><a href="/Perfume/Perfume_Details?PerfumeID=@men.Perfume_ID">@men.Perfume_Name</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane" id="product-3">
                <div class="row">
                    @if (newUniSex.Count() > 0)
                    {
                        foreach (var newuni in newUniSex)
                        {
                            <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                                <div class="product-wrap-2 mb-25 scroll-zoom">
                                    <div class="product-img">
                                        <a href="/Perfume/Perfume_Details?PerfumeID=@newuni.Perfume_ID">
                                            <img class="default-img" src="~/Uploads/PerfumeImages/@newuni.Perfume_ImageIndex" alt="">
                                            <img class="hover-img" src="~/Uploads/PerfumeImages/@newuni.Perfume_ImageIndex" alt="">
                                        </a>

                                        <div class="product-action-2">
                                            <a title="Add To Cart" href="#" onclick="showModal(@newuni.Perfume_ID,'../../Uploads/PerfumeImages/')"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" class="Quick_View" href="#" data-toggle="modal" onclick="showModal(@newuni.Perfume_ID,'../../Uploads/PerfumeImages/')"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-2">
                                        <div class="title-price-wrap-2">
                                            <h3><a href="/Perfume/Perfume_Details?PerfumeID=@newuni.Perfume_ID">@newuni.Perfume_Name</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane" id="product-4">
                <div class="row">
                    @if (newSeason.Count() > 0)
                    {
                        foreach (var seasonPerfume in newSeason)
                        {
                            <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
                                <div class="product-wrap-2 mb-25 scroll-zoom">
                                    <div class="product-img">
                                        <a href="/Perfume/Perfume_Details?PerfumeID=@seasonPerfume.Perfume_ID">
                                            <img class="default-img" src="~/Uploads/PerfumeImages/@seasonPerfume.Perfume_ImageIndex" alt="">
                                            <img class="hover-img" src="~/Uploads/PerfumeImages/@seasonPerfume.Perfume_ImageIndex" alt="">
                                        </a>

                                        <div class="product-action-2">
                                            <a title="Add To Cart" href="#" onclick="showModal(@seasonPerfume.Perfume_ID,'../../Uploads/PerfumeImages/')" ><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" class="Quick_View" href="#" data-toggle="modal" onclick="showModal(@seasonPerfume.Perfume_ID,'../../Uploads/PerfumeImages/')"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-2">
                                        <div class="title-price-wrap-2">
                                            <h3><a href="/Perfume/Perfume_Details?PerfumeID=@seasonPerfume.Perfume_ID">@seasonPerfume.Perfume_Name</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div>
            <div id="filterResult" style="display:none">
                <div class="row" id="filterResultRow">

                </div>
            </div>
            <div id="NoResult" style="display:none">
                محصولی یافت نشد!
            </div>
        </div>
    </div>

            </div>
<div class="blog-area pb-55">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>برترین ها</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details"><img src="Content/Images/best/chanel.png" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="Content/Images/best/creed.png" alt=""></a>
                        <span class="pink">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="Content/Images/best/dior.png" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Modal_Section") 
    
<script>

    var inputSearch = document.getElementById("searchTerm");
    inputSearch.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            changeHref();
        }
    });

    function changeHref() {
            var url = '@Url.Action("SearchResult", "Home")';
            var txtVal = $('#searchTerm').val();
            window.location.href = url + '/?searchTerm=' + txtVal;
        }
</script>

