@model perfumedecant.Models.PerfumeModel
@using perfumedecant.Models.Repository;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a  href="@Url.Action("Index", "Home")"> صفحه اصلی </a>
                </li>
                <li class="active">نتایج جست وجو برای @ViewBag.searchTerm </li>
            </ul>
        </div>
    </div>
</div>

@Html.Partial("PerfumeList_Section", Model)
@Html.Partial("Modal_Section")

<script>
        var inputSearch = document.getElementById("searchTerm");
        inputSearch.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                changeHref();
            }
        });

    function changeHref() {
            var url = '@Url.Action("SearchResult", "Home")';
            var txtVal = $('#searchTerm').val();
            window.location.href = url + '/?searchTerm=' + txtVal;
        }
</script>
   


       

                
